Repository explosion/spacy-llm, pull requests merged in 2023-12, with the labels that each got.

#390 Allow custom endpoints for all REST models
  spacy_llm/models/rest/anthropic/registry.py
  spacy_llm/models/rest/azure/model.py
  spacy_llm/models/rest/cohere/registry.py
  spacy_llm/models/rest/openai/registry.py
  spacy_llm/models/rest/palm/registry.py
Labels: enhancement, feat/model

#394 Fix Anthropic test w.r.t. model name
  spacy_llm/tests/models/test_anthropic.py
Labels: tests

#397 Small change in user warning
  spacy_llm/tasks/textcat/task.py
Labels: feat/task

#396 Add `TranslationTask`
  spacy_llm/cache.py
  spacy_llm/pipeline/llm.py
  spacy_llm/tasks/__init__.py
  spacy_llm/tasks/templates/translation.v1.jinja
  spacy_llm/tasks/translation/__init__.py
  spacy_llm/tasks/translation/parser.py
  spacy_llm/tasks/translation/registry.py
  spacy_llm/tasks/translation/task.py
  spacy_llm/tasks/translation/util.py
  spacy_llm/tests/pipeline/test_llm.py
  spacy_llm/tests/sharding/test_sharding.py
  spacy_llm/tests/tasks/examples/translation.json
  spacy_llm/tests/tasks/examples/translation.jsonl
  spacy_llm/tests/tasks/examples/translation.yml
  spacy_llm/tests/tasks/templates/translation.jinja2
  spacy_llm/tests/tasks/test_translation.py
Labels: feat/new, feat/task, Test external

#403 Fixes Cohere test w.r.t. new error message from Cohere API
  spacy_llm/tests/models/test_cohere.py
Labels: bug, tests

#404 Add explicit test for custom task construction
  spacy_llm/tests/tasks/custom.cfg
  spacy_llm/tests/tasks/test_custom.py
Labels: tests, feat/task

#405 Fix test for custom task construction
  spacy_llm/tests/tasks/test_custom.py
Labels: bug, tests, feat/task

#406 Sync `develop` with `main`
  spacy_llm/tests/tasks/test_custom.py
Labels: chore
