Repository explosion/spacy-llm, pull requests merged in 2023-10, with the labels that each got.

#308 Update `langchain` pin
  requirements-dev.txt
  spacy_llm/models/langchain/model.py
Labels: chore, feat/model, Test external, third party

#315 Fix prompt responses for OS models
  spacy_llm/models/hf/dolly.py
  spacy_llm/models/hf/falcon.py
  spacy_llm/models/hf/llama2.py
  spacy_llm/models/hf/openllama.py
  spacy_llm/models/hf/stablelm.py
  spacy_llm/tests/models/test_dolly.py
  spacy_llm/tests/models/test_falcon.py
  spacy_llm/tests/models/test_llama2.py
  spacy_llm/tests/models/test_openllama.py
  spacy_llm/tests/models/test_stablelm.py
Labels: bug, feat/model

#300 Add `gpt-3.5.-turbo-instruct` support to OpenAI REST
  spacy_llm/models/rest/openai/model.py
  spacy_llm/models/rest/openai/registry.py
Labels: feat/model, Test external

#305 Add support for PaLM
  spacy_llm/models/rest/palm/__init__.py
  spacy_llm/models/rest/palm/model.py
  spacy_llm/models/rest/palm/registry.py
  spacy_llm/tests/compat.py
  spacy_llm/tests/models/test_palm.py
Labels: feat/model, Test external

#316 Add support for Azure OpenAI
  spacy_llm/models/__init__.py
  spacy_llm/models/langchain/model.py
  spacy_llm/models/rest/__init__.py
  spacy_llm/models/rest/azure/__init__.py
  spacy_llm/models/rest/azure/model.py
  spacy_llm/models/rest/azure/registry.py
  spacy_llm/tests/compat.py
  spacy_llm/tests/models/test_rest.py
Labels: feature, feat/model, Test external

#317 Add langchain Azure OpenAI test
  README.md
  spacy_llm/tests/models/test_langchain.py
Labels: tests, feat/model, Test external

#319 Bump version to 0.6.0
  setup.cfg
Labels: chore, Test external, Test GPU

#299 Refactor to ditch `**kwargs`
  spacy_llm/tasks/builtin_task.py
  spacy_llm/tasks/rel/task.py
  spacy_llm/tasks/sentiment/task.py
  spacy_llm/tasks/span/task.py
  spacy_llm/tasks/summarization/task.py
  spacy_llm/tasks/textcat/task.py
  spacy_llm/tasks/textcat/util.py
  spacy_llm/ty.py
Labels: refactoring, feat/task, Test external, Test GPU

#306 Refactor fewshot examples to use task generics instead of `**kwargs`
  .github/workflows/test.yml
  setup.cfg
  spacy_llm/compat.py
  spacy_llm/tasks/builtin_task.py
  spacy_llm/tasks/lemma/task.py
  spacy_llm/tasks/lemma/util.py
  spacy_llm/tasks/ner/task.py
  spacy_llm/tasks/ner/util.py
  spacy_llm/tasks/rel/__init__.py
  spacy_llm/tasks/rel/examples.py
  spacy_llm/tasks/rel/registry.py
  spacy_llm/tasks/rel/task.py
  spacy_llm/tasks/rel/util.py
  spacy_llm/tasks/sentiment/task.py
  spacy_llm/tasks/sentiment/util.py
  spacy_llm/tasks/span/examples.py
  spacy_llm/tasks/span/task.py
  spacy_llm/tasks/spancat/task.py
  spacy_llm/tasks/spancat/util.py
  spacy_llm/tasks/summarization/task.py
  spacy_llm/tasks/summarization/util.py
  spacy_llm/tasks/textcat/task.py
  spacy_llm/tasks/textcat/util.py
  spacy_llm/ty.py
Labels: refactoring, feat/task, Test external, Test GPU

#325 Fix Llama 2 model init and Anthropic requests
  spacy_llm/models/hf/llama2.py
  spacy_llm/models/rest/anthropic/model.py
  spacy_llm/tests/models/test_llama2.py
Labels: bug, feat/model, Test external

#326 Bump version to 0.6.1
  setup.cfg
  spacy_llm/tests/models/test_llama2.py
Labels: chore, Test GPU

#327 Synch `develop` with `main`
  setup.cfg
  spacy_llm/models/hf/llama2.py
  spacy_llm/models/rest/anthropic/model.py
Labels: chore

#328 Patch anthropic-version header
  setup.cfg
  spacy_llm/models/rest/anthropic/model.py
Labels: bug, feat/model, Test external

#329 Fix example signatures
  spacy_llm/tasks/lemma/registry.py
  spacy_llm/tasks/lemma/util.py
  spacy_llm/tasks/ner/registry.py
  spacy_llm/tasks/ner/util.py
  spacy_llm/tasks/rel/examples.py
  spacy_llm/tasks/rel/registry.py
  spacy_llm/tasks/sentiment/registry.py
  spacy_llm/tasks/sentiment/util.py
  spacy_llm/tasks/spancat/util.py
  spacy_llm/tasks/summarization/registry.py
  spacy_llm/tasks/summarization/util.py
  spacy_llm/tasks/textcat/registry.py
  spacy_llm/tasks/textcat/util.py
  spacy_llm/ty.py
Labels: chore, Test external

#330 Fix SpanCat docstring & REL pre-annotation
  spacy_llm/tasks/rel/task.py
  spacy_llm/tasks/spancat/registry.py
Labels: chore

#333 Synch `develop` with `main`
  setup.cfg
  spacy_llm/models/rest/anthropic/model.py
Labels: chore

#341 Sync `develop` with `main`
  spacy_llm/models/rest/azure/model.py
Labels: chore

#340 Add label definition to add function for LabeledTask
  spacy_llm/pipeline/llm.py
  spacy_llm/tasks/builtin_task.py
  spacy_llm/tests/tasks/test_ner.py
  spacy_llm/ty.py
Labels: enhancement, feat/task, Test external

#342 Fix label test
  spacy_llm/tests/tasks/test_ner.py
Labels: tests, Test external
